:root {
  --primary: #14bf98;
  --btn-bg: #f1f4f7;
  --btn-color: #7b7e85;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  margin: 3px 0;
  font-weight: 700;
  transition: all 0.7s ease;
}

.btn-filter {
  margin-right: 7px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
}

.btn-filter:hover,
.btn-filter.active {
  background-color: var(--primary);
  color: #fff;
}

.btn-project {
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: #fff;
}

.btn-project:hover,
.btn-project.active {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
}

.project {
  position: relative;
}

.project-image {
  width: 300px;
  height: 300px;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.project:hover .project-text {
  opacity: 1;
}

.project-text-title {
  margin: 15px 0;
}

.project-text-category {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .project-image {
    width: 270px;
    height: 270px;
  }

  .project-image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .project-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
