/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

/* Gallery */

.gallery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 90%;
  max-height: 28vw;
  overflow: hidden;
}

.gallery:before,
.gallery:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}

.gallery:before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gallery:after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gallery-item {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  transition: all 1s ease;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery-item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(0.8);
}

.gallery-item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(0.8);
}

.gallery-item:nth-child(3) {
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}

.gallery-item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(0.8);
}

.gallery-item:nth-child(n + 5) {
  left: 100%;
  z-index: 1;
  transform: scale(0.8);
}

/* Controllers */

.gallery-prev,
.gallery-next {
  cursor: pointer;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 4;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  left: 100%;
}

/* Backgrounds */

.bg-1 {
  background-image: url("./images/project-1.jpg");
}

.bg-2 {
  background-image: url("./images/project-2.jpg");
}

.bg-3 {
  background-image: url("./images/project-3.jpg");
}

.bg-4 {
  background-image: url("./images/project-4.jpg");
}

.bg-5 {
  background-image: url("./images/project-5.jpg");
}

.bg-6 {
  background-image: url("./images/project-6.jpg");
}

.bg-7 {
  background-image: url("./images/project-6.jpg");
}
