* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

ul {
  list-style: none;
  background-color: white;
  border-radius: 3px;
}

.title {
  color: #52616b;
  padding: 20px;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.04444444444em;
  cursor: pointer;
  transition: ease-in-out 0.2s all;
  position: relative;
}

.title:hover {
  padding-left: 25px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-top: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.icon:before,
.icon:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  background-color: #c9d6df;
  transition: ease 0.3s all;
}

.icon:before {
  width: 2px;
  height: 20px;
}

.icon:after {
  width: 20px;
  height: 2px;
}

.title:hover .icon:before,
.title:hover .icon:after {
  background-color: #52616b;
}

.icon.anime.icon:before {
  transform: rotate(90deg);
}

.text {
  opacity: 0;
  background-color: #f0f5f9;
  height: 0;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.03125em;
  position: relative;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  overflow: hidden;
}

.text.show {
  opacity: 1;
  height: auto;
  padding: 25px 20px;
  border-radius: 0px 0px 3px 3px;
  position: relative;
  z-index: 0;
}
